footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    text-align: center;
}

footer li {
    display: inline;
    list-style-type: none;
    margin: 2px;
}

footer li a {
    color: black;
}        